@model List<AddToCardListModel>

@foreach (var item in Model)
{
    <div class="name">
        @item.Name
    </div>
    <div class="totalPrice">$ @(item.Price * item.Quantity)</div>
    <div class="quantity">
        <button>
            <span class="minus" data-id="@item.ItemId">-</span>
        </button>
        <span>@item.Quantity</span>
        <span class="plus" data-id="@item.ItemId">+</span>
    </div>
}
