@model ItemDataResponseModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <header>
        <div class="title">PRODUCT LIST</div>
        <div class="icon-cart">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1" />
            </svg>
            <span id="count">0</span>
        </div>
    </header>
    <div class="listProduct">
        @foreach (var item in Model.Data)
        {
            <div data-id="@item.ItemId" class="item">
                <img src="~/assets/image/@(item.ItemId).png" />
                <h2 id="product_name" value="@item.Name">@item.Name</h2>
                <div class="price" id="product_price" value="@item.Price">$@item.Price</div>
                <button data-id="@item.ItemId" class="addCart">Add To Cart</button>
            </div>
        }
    </div>
</div>
<div class="cartTab">
    <h1>Shopping Cart</h1>
    <div class="listCart">
    </div>
    <div class="btn">
        <button class="close">CLOSE</button>
        <button class="checkOut">Check Out</button>
    </div>
</div>
@section scripts {
    <script>
        $('.addCart').click(function(e){
            e.preventDefault();

            const id = $(this).data('id');
            addToCart(id);
        })

        let body = document.querySelector('body');
        $('.icon-cart,.close').click(function (e) {
            body.classList.toggle('showCart');
        });

        function loadCart() {
            $('.listCart').load('/Home/AddToCart', function(){
                $('.minus').click(function(){
                    const id = $(this).data('id');
                    removeFromCart(id);
                })

                $('.plus').click(function () {
                    const id = $(this).data('id');
                    addToCart(id);
                })
            });
        }

        function addToCart(id) {
            const reqModel = {
                ItemId: id
            };

            $.ajax({
                url: '/Home/AddToCart',
                type: 'POST',
                data: {
                    requestModel: reqModel
                },
                success: function (data) {
                    $('#count').html(data.count);
                    loadCart();
                },
                error: function (request, status, error) {
                    console.log({ request, status, error });
                }
            });
        }

        function removeFromCart(id) {
            const reqModel = {
                ItemId: id
            };

            $.ajax({
                url: '/Home/RemoveFromCart',
                type: 'POST',
                data: {
                    requestModel: reqModel
                },
                success: function (data) {
                    $('#count').html(data.count);
                    loadCart();
                },
                error: function (request, status, error) {
                    console.log({ request, status, error });
                }
            });
        }
    </script>
}
