@model MackDotNetCore.MvcApp.Models.BlogDataResponseModel
@{
    ViewData["Title"] = "Blog Index";
    string? message = null;
    bool isSuccess = false;
    if (TempData["Message"] != null)
    {
        message = TempData["Message"].ToString();
        isSuccess = Convert.ToBoolean(TempData["IsSuccess"]);
    }

    int pageNo = Model.PageSetting.PageNo;
    int pageSize = Model.PageSetting.PageSize;
    int pageCount = Model.PageSetting.PageCount;
    int count = (pageNo - 1) * pageCount;
    string url = Model.PageSetting.PageUrl;

}
<h4>
    <a href="/blog/create" class="btn btn-success w-auto">
        Create
    </a>
    Blog List
</h4>

@if (message is not null)
{
    <div class="alert alert-@(isSuccess ? "success" : "danger")" role="alert">
        @message
    </div>
}


@* <p>hello world</p> *@

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Content</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Blogs)
        {
            <tr>
                <td>
                    <a class="btn btn-warning" href="/blogajax/edit/@item.blog_id">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a class="btn btn-danger btnDelete" href="#" data-blog-id="@item.blog_id">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
                <th scope="row">@(++count)</th>
                <td>@item.blog_title</td>
                <td>@item.blog_authour</td>
                <td>@item.blog_content</td>
            </tr>
        }
    </tbody>
</table>
@await Html.PartialAsync("_Pagination", Model.PageSetting)

@section scripts {
    <script>
        $(".btnDelete").click(function () {
            var _reqModel = {
                Blog_Id: $(this).data('blog-id'),
            };

            confirmMessage("Are you sure want to delete?").then((result) => {
                if (!result) return;

                $.ajax({
                    url: "/blogajax/delete",
                    type: "POST",
                    data:
                    {
                        reqModel: _reqModel
                    },
                    success: function (data) {
                        showMessage(data, '/blogajax/list');
                    },
                    error: function (request, status, error) {
                        console.log({ request, status, error });
                    }
                });
            });
        });
    </script>
}